.light-bg {
    background: #dce1e4;
}

.relative {
    position: relative;
}

.large-watermark {
    position: absolute;
    font-size: 22em;
    opacity: .07;
    white-space: nowrap;
    font-family: 'Times New Roman';
}

.dark-bg {
    background: #2e2f31;  
}

.dark-bg h2 {
    color: white;
}

.dark-bg a:hover {
    color: white;
}

.dark-bg a {
    cursor: pointer;
}

.darker-bg {
    background: #272729;
}

.darker-bg a {
    color: white;
}